<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> 
      <h1 class="mt-5"><p><b>Como surgimos?</b></p></h1>
    </div>

    <div class="card col-sm-6 centered mt-5 mb-4" style="width: 100%; ">
        <p><b>O ArmyBook é uma iniciativa que surgiu com a ideia de que o acesso a leitura é um 
              meio grandioso para mudar a vida das pessoas através do conhecimento.</b></p>
        <p>A nossa iniciativa já vem de um certo tempo, onde começou com arrecadação de livros em escolas e
            lugares que recebiam doações para levarmos a bibliotecas públicas, com o foco em 
            transformar a vida de crianças, jovens e adultos. 
            Tendo em vista que em todo o ciclo realizado, desde o recolhimento até a entrega,
            trazia-nos o sentimento de alegria e a vontade de querer fazer muito mais.
            Que surgiu a ideia de expandir as nossas arrecadações, não só com o foco em determinados
            lugares, mas em criar este projeto visto que iriamos arrecadar de qualquer lugar e de 
            todas as pessoas que também como nós, sonham em modificar a vida das pessoas através da 
            educação.
            Nossa principal missão é auxiliar e facilitar o caminho entre o doador e quem irá receber a doação, 
            sem nenhum foco em lucro e sim o nosso maior retorno será em transformar a vida das pessoas com algo que amamos. &#x1F49C 
            </p>
    </div>
</body>
</html>
 

