<h1 class="mt-3">Insira sua doação</h1>
  

<form action="/users/create" method="POST" class="form">
  <div class="form-control-lg">
    <label for="Name">Nome</label>
    <input type="text" name="name" placeholder="Seu nome completo" />
  </div>
  <div class="form-control-lg mt-5">
    <label id="texto" for="Contact">Contato</label>
    <input type="text" name="contact" placeholder="E-mail ou telefone" />
  </div>
  <div class="form-control-lg mt-5">
    <label id="texto" for="Tipo">Tipo</label>
    <select class="form-control-lg mb-5" name="tipo" type="text">
      <option>Selecione o tipo</option>
      <option>Romance</option>
      <option>Infantil</option>
      <option>História</option>
      <option>Didático</option>
    </select>
  </div>
  <div class="form-control-lg mt-5">
    <label id="texto" for="Detail">Detalhe do livro</label>
    <input type="text" name="detail" placeholder="Obra/Autor" />
  </div>
  <div class="form-control-lg mt-5">
    <label id="texto" for="Quantity">Quantidade</label>
    <select class="form-control-lg mb-5" name="quantity" type="text">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <input class="btn btn-dark" id="botao" type="submit" value="Enviar" />
</form>

